  <section>
    <div class="logo">
        <div class="inside">
            <h1>J</h1>
        </div>
    </div>

    <div class="front">
        <h2>Front-End</h2>
        <h2>Developer</h2>
    </div>
</section>

<!-- Contato por redes sociais -->
<section class="contato">
    <a href="https://wwww.facebook.com/j.taylormetal"  target="_blank" title="My Facebook"><img src="public/images/face.png" alt="my facebook"></a>
    <a href="https://twitter.com/jony_heavy"  target="_blank" title="My Twitter"><img src="public/images/twit.png" alt="my twitter"></a>
    <a href="https://www.linkedin.com/in/jo%C3%A3o-ribeiro-15a551108/"  target="_blank" title="My Linkedin"><img src="public/images/lk.png" alt="my linkedin"></a>
    <a href="https://github.com/JoHNNyRiver"  target="_blank" title="My Github"><img src="public/images/github.png" alt="my github"></a>
    <a href="mailto:jlribeiroaugusto@gmail.com" title="My E-mail"><img src="public/images/email.png" alt="my e-mail"></a>
</section>