<!-- Abilities -->
<section class="skills">
    <h2>Skills</h2>

    <div class="html">
        <div class="title">
            <h3>HTML 5</h3>
        </div>

        <div class="level">
            <div><p>LEVEL</p></div>
        </div>
    </div>

    <div class="css">
        <div class="title">
            <h3>CSS 3</h3>
        </div>

        <div class="level">
            <div><p>LEVEL</p></div>
        </div>
    </div>

    <div class="javascript">
        <div class="title">
            <h3>JAVSCRIPT</h3>
        </div>

        <div class="level">
            <div><p>LEVEL</p></div>
        </div>
    </div>
</section>
