/*Efeito na main tag*/
.effect-main{
	transform : translateY(-100%);
	transition: all .9s cubic-bezier(1,-0.24,0,1.49);
}
/*Efeito no logo*/
.effect{
	transform : scale(.8, .9);
	transition: all .3s cubic-bezier(1,-0.24,0,1.49);
}
/*Efeito no h2 do head*/
.front{
	animation: showanimate 4s linear;
}
/*Efeito no links do menu tab*/
.white{
	color: #fff;
}
.color{
	color: #fff;
	transform: rotateZ(-180deg);
}
.color:after{
	display: none;
}
.show-ul{
	transform: translateX(0);
	transition: transform .2s cubic-bezier(1,-0.24,0,1.49);
}
/*Efeito inicial pós loading*/
.opacity{
	opacity: 1;
	transition: all .3s linear;
}